.hero {
  height: 623px;
  text-align: center;
  background: #ffde17;
  background: -moz-linear-gradient(top, #ffde17 0%, #ffd41c 16%, #fbc616 33%, #fdb700 50%);
  background: -webkit-linear-gradient(top, #ffde17 0%, #ffd41c 16%, #fbc616 33%, #fdb700 50%);
  background: linear-gradient(to bottom, #ffde17 0%, #ffd41c 16%, #fbc616 33%, #fdb700 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffde17', endColorstr='#fdb700',GradientType=0 );
  box-shadow: inset 0px 8px 18px -3px rgba(172, 172, 172, 0.43); }
