.products .product {
  background-color: white;
  z-index: 20; }

.products .fake-triangle {
  width: 100%;
  height: 10px; }
  .products .fake-triangle:after {
    content: " ";
    position: absolute;
    width: 147px;
    height: 147px;
    margin-top: -64px;
    z-index: 2;
    left: calc(50% - 73px);
    border-top: 73px solid transparent;
    border-bottom: 73px solid #e5e5e5;
    border-left: 73px solid #e5e5e5;
    border-right: 73px solid transparent;
    transform: rotate(-45deg);
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.2); }
