.products {
    padding-bottom: 20px;
    background: white;
    position: relative;
    z-index: 40;
    h2 {
        margin-top: 35px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3.9em;
        letter-spacing: -2px;
        color: transparent;
        text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: rgba(253, 183, 0, 0.7);
        text-shadow: 1px 2px 3px white, 0 0 0 #000;
    }
    .product {
        background-color: white;
        text-align: center;
        z-index: 20;
        img.product-image {
            border: 1px solid #f2f2f2;
            margin-top: 18px;
            width: 100%;
        }
        .swatch-selector {
            .swatch {
                border: 1px solid #ccc;
                padding: 1px;
                margin: 8px 3px 4px 3px;
                &.selected {
                    border-color: #000;
                }
            }
        }
        .product-title {
            font-size: 1.15em;
            font-weight: 600;
        }
        .product-price {
            margin-bottom: 50px;
            .original {
                text-decoration: line-through;
            }
            .sale {
                margin-left: 15px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .products {
        .product {
            img.product-image {
                width: 60%;
            }
        }
    }
}