.resources {
  height: 537px;
  position: relative;
  z-index: -100;
  color: white;
  background: url("images/wood-pattern.gif");
  background-color: #252524;
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.1); }
  .resources.row:before {
    content: " ";
    display: inline-block;
    width: 147px;
    height: 147px;
    margin-top: -74px;
    margin-left: calc(50% - 73px);
    z-index: 1;
    border-top: 0 solid transparent;
    border-bottom: 73px solid #ffcb1f;
    border-left: 73px solid #ffd41c;
    border-right: 73px solid transparent;
    transform: rotate(-45deg);
    box-shadow: 2px 0px 2px 2px rgba(0, 0, 0, 0.1); }

.footer {
  height: 92px;
  background-color: #ffdb05;
  box-shadow: inset 0px 8px 18px -3px rgba(172, 172, 172, 0.43); }

@media screen and (max-width: 768px) {
  .resources.row:before {
    border-bottom: 73px solid #ffc222;
    border-left: 73px solid #ffde17; } }
