.resources {
    height: 537px;
    color: white;
    background: url('images/wood-pattern.gif');
    background-color: #252524;
    box-shadow: $small-shadow-inner;
}
.footer {
    height: 92px;
    background-color: #ffdb05;
    box-shadow: $big-shadow-inner;
}